@model Inspinia_MVC5.Models.TIPO_DOCUMENTO

@{
    ViewBag.Title = "Tipos de documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipos de documento</h2>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-md-offset-2" col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h2>Eliminar Tipo de Documento</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="bg-danger p-xs b-r-sm">¿Está seguro de eliminar este registro?</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Código:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.TIPO_DOC_ID</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Descripción:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.DESCRIPCION</h4>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-3">
                            <button class="btn btn-danger" type="submit"><i class="fad fa-eraser"></i>&nbsp;Eliminar</button>
                        </div>
                    }
                    <div class="col-md-3">
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index")' "><i class="fad fa-step-backward"></i>&nbsp;Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
