<div class="footer">
    <div class="float-right">
        @DateTime.Today.ToString("MMM ddd d HH:mm yyyy")
    </div>
    <div>
        <strong>Copyright</strong>&nbsp;&nbsp; Intersystem &copy; @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
    </div>
</div>
